* {
    padding: 0;
    margin: 0;
}
nav a,ul{
    display: flex ;
    flex-direction: row ;
    flex-wrap: wrap ;
    justify-content: space-around ;
    align-items: center ;
    align-content: center ;
    background-color: gray;
    font-size: 22px;
}
nav li {list-style-type:none;}
nav a {text-decoration: none; }
img {
    max-width: 100%;
    height: auto;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
h1 {
    color: black;
    text-align: center;
    font-family: verdana;
    font-size: 36px;
  font-family: 'Times New Roman', Times, serif;}
    body {
        background-color: lightpink;
      }
iframe {
    width: 1200px;
    height: 800px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
p {
    color: black;
    text-align: left;
    font-family: verdana;
    font-size: 26px;  
}
table, th, td {
  border: 1px solid HoneyDew;
  border-collapse: collapse;
  text-align: center;
  align-items: center;
}
tr {
  background-color: white;
}
th, td {
  vertical-align: top;
  padding: 5px;
  text-align: left;
}
th {
  color: green;
}
td {
  color: black;
}